.certs {
  font-family: "Avenir", sans-serif;
  color: #000;

  &__container {
    margin-bottom: 100px;
  }

  &__title {
    margin: 140px 0 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    transition: background 0.2s;
    gap:40px;

    &:hover {
      background: #f5f5f5;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.2s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 992px) {
    &__container {
      margin-bottom: 50px;
    }
    &__title {
      margin: 60px 0 20px;
      font-size: 36px;
    }
  }

  @media (max-width: 560px) {
    &__title {
      font-size: 28px;
    }
    &__name {
      font-size: 18px;
    }
  }
}
